#First Inning Score predictor

##Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

##Importing Data and Data study

In [2]:
dataset = pd.read_csv('./data/odi_1st_inning.csv')

In [3]:
dataset.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,0,0,301
1,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,0,0,301
2,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,4,0,0,0,301
3,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,6,0,0,0,301
4,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,6,0,0,0,301

In [4]:
print(len(dataset["bat_team"].unique()))
print(len(dataset["bowl_team"].unique()))
print(len(dataset["batsman"].unique()))
print(len(dataset["bowler"].unique()))

21
21
938
709

In [5]:
dataset.describe()

,mid,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
count,350899.000000,350899.000000,350899.000000,350899.000000,350899.000000,350899.000000,350899.000000,350899.000000,350899.000000
mean,594.360426,114.801661,2.974970,24.052899,23.548303,0.669814,35.180129,12.427944,255.355387
std,343.605128,77.665959,2.298959,14.235439,11.042974,0.833895,28.115264,15.019181,62.354412
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,44.000000
25%,296.000000,51.000000,1.000000,11.600000,17.000000,0.000000,13.000000,2.000000,217.000000
50%,596.000000,105.000000,3.000000,23.600000,23.000000,0.000000,29.000000,7.000000,257.000000
75%,893.000000,168.000000,4.000000,36.200000,29.000000,1.000000,50.000000,18.000000,298.000000
max,1188.000000,444.000000,10.000000,49.600000,101.000000,7.000000,264.000000,149.000000,444.000000

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350899 entries, 0 to 350898
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   mid             350899 non-null  int64
 1   date            350899 non-null  object
 2   venue           350899 non-null  object
 3   bat_team        350899 non-null  object
 4   bowl_team       350899 non-null  object
 5   batsman         350899 non-null  object
 6   bowler          350899 non-null  object
 7   runs            350899 non-null  int64
 8   wickets         350899 non-null  int64
 9   overs           350899 non-null  float64
 10  runs_last_5     350899 non-null  int64
 11  wickets_last_5  350899 non-null  int64
 12  striker         350899 non-null  int64
 13  non-striker     350899 non-null  int64
 14  total           350899 non-null  int64
dtypes: float64(1), int64(8), object(6)
memory usage: 40.2+ MB

In [7]:
dataset.corr()

,mid,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
mid,1.000000,0.038262,-0.023003,0.005770,0.065211,-0.003811,0.062887,0.038808,0.117010
runs,0.038262,1.000000,0.598875,0.931473,0.647093,0.215938,0.572680,0.277120,0.316891
wickets,-0.023003,0.598875,1.000000,0.756038,0.168192,0.492133,0.067412,-0.172466,-0.304311
overs,0.005770,0.931473,0.756038,1.000000,0.496190,0.242566,0.491282,0.208318,0.086654
runs_last_5,0.065211,0.647093,0.168192,0.496190,1.000000,-0.021467,0.562481,0.439263,0.426608
wickets_last_5,-0.003811,0.215938,0.492133,0.242566,-0.021467,1.000000,-0.207187,-0.468785,-0.191498
striker,0.062887,0.572680,0.067412,0.491282,0.562481,-0.207187,1.000000,0.542781,0.368623
non-striker,0.038808,0.277120,-0.172466,0.208318,0.439263,-0.468785,0.542781,1.000000,0.321307
total,0.117010,0.316891,-0.304311,0.086654,0.426608,-0.191498,0.368623,0.321307,1.000000

In [8]:
# dataset.hist(bins = 50, figsize = (20,15))

In [9]:
dataset.columns

Index(['mid', 'date', 'venue', 'bat_team', 'bowl_team', 'batsman', 'bowler',
       'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5', 'striker',
       'non-striker', 'total'],
      dtype='object')

In [10]:
dataset.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,0,0,301
1,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,0,0,301
2,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,4,0,0,0,301
3,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,6,0,0,0,301
4,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,6,0,0,0,301

In [11]:
K = dataset.iloc[:, [3,4,5,6,7,8,9,12,13,14]].values

In [12]:
column_values = ['bat_team', 'bowl_team', 'batsman', 'bowler',
       'runs', 'wickets', 'overs', 'striker',
       'non-striker','total']

In [13]:
df = pd.DataFrame(data = K,    
                  columns = column_values) 
df

,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,striker,non-striker,total
0,England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,301
1,England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,301
2,England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,0,0,301
3,England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,0,0,301
4,England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,0,0,301
...,...,...,...,...,...,...,...,...,...,...
350894,Sri Lanka,Zimbabwe,DAS Gunaratne,TL Chatara,201,8,49.2,59,18,203
350895,Sri Lanka,Zimbabwe,DAS Gunaratne,TL Chatara,201,8,49.3,59,18,203
350896,Sri Lanka,Zimbabwe,DAS Gunaratne,TL Chatara,201,8,49.4,59,18,203
350897,Sri Lanka,Zimbabwe,DAS Gunaratne,TL Chatara,202,8,49.5,59,18,203
350898,Sri Lanka,Zimbabwe,PVD Chameera,TL Chatara,203,8,49.6,59,18,203

In [14]:
print(len(df["bat_team"].unique()))
print(len(df["bowl_team"].unique()))
print(len(df["batsman"].unique()))
print(len(df["bowler"].unique()))

21
21
938
709

In [15]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [16]:
X

array([['England', 'Ireland', 'ME Trescothick', ..., 0.1, 0, 0],
       ['England', 'Ireland', 'ME Trescothick', ..., 0.2, 0, 0],
       ['England', 'Ireland', 'ME Trescothick', ..., 0.3, 0, 0],
       ...,
       ['Sri Lanka', 'Zimbabwe', 'DAS Gunaratne', ..., 49.4, 59, 18],
       ['Sri Lanka', 'Zimbabwe', 'DAS Gunaratne', ..., 49.5, 59, 18],
       ['Sri Lanka', 'Zimbabwe', 'PVD Chameera', ..., 49.6, 59, 18]],
      dtype=object)

In [17]:
y

array([301, 301, 301, ..., 203, 203, 203], dtype=object)

###Label Encoding Name of player and Playing teams

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 0] = le.fit_transform(X[:, 0])
X[:, 1] = le.fit_transform(X[:, 1])
X[:, 2] = le.fit_transform(X[:, 2])
X[:, 3] = le.fit_transform(X[:, 3])

In [19]:
X

array([[6, 9, 520, ..., 0.1, 0, 0],
       [6, 9, 520, ..., 0.2, 0, 0],
       [6, 9, 520, ..., 0.3, 0, 0],
       ...,
       [17, 20, 199, ..., 49.4, 59, 18],
       [17, 20, 199, ..., 49.5, 59, 18],
       [17, 20, 670, ..., 49.6, 59, 18]], dtype=object)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350899 entries, 0 to 350898
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   bat_team     350899 non-null  object
 1   bowl_team    350899 non-null  object
 2   batsman      350899 non-null  object
 3   bowler       350899 non-null  object
 4   runs         350899 non-null  object
 5   wickets      350899 non-null  object
 6   overs        350899 non-null  object
 7   striker      350899 non-null  object
 8   non-striker  350899 non-null  object
 9   total        350899 non-null  object
dtypes: object(10)
memory usage: 26.8+ MB

##Splitting the dataset into the Training set and Test set

In [21]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits = 1, test_size = 0.2, random_state = 42)
for train_index, test_index in split.split(df, df['bat_team']):
  strat_train_set = df.loc[train_index]
  strat_test_set = df.loc[test_index]
print("For training set: ")
print(strat_train_set['bat_team'].value_counts())
print("For testing set: ")
print(strat_test_set['bat_team'].value_counts())
X_train = strat_train_set.iloc[:,:-1].values
y_train = strat_train_set.iloc[:,-1].values
X_test = strat_test_set.iloc[:,:-1].values
y_test = strat_test_set.iloc[:,-1].values

For training set:
2     35901
17    34230
8     26748
6     25761
16    25570
13    25326
12    24122
3     19152
19    19126
20    16943
0      6051
9      6023
15     4774
10     2381
5      1925
11     1742
18     1605
4      1414
7       951
1       747
14      227
Name: bat_team, dtype: int64
For testing set:
2     8975
17    8557
8     6687
6     6440
16    6392
13    6332
12    6030
3     4788
19    4781
20    4236
0     1513
9     1506
15    1194
10     595
5      481
11     436
18     401
4      354
7      238
1      187
14      57
Name: bat_team, dtype: int64

In [22]:
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

##Training the model

In [23]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor(n_estimators=100,max_features=None)
reg.fit(X_train,y_train)

RandomForestRegressor(max_features=None)

##Calculating R Square value

In [24]:
y_pred = reg.predict(X_test)
score = reg.score(X_test,y_test)*100
print("R square value:" , score)

R square value: 95.76916539283492